<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Second Chance Gear</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Style's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Jane's Closet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tommies Dresser</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New Threads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Garage Door</a>
          </li>
      </ul>
      <form #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" required name="username" placeholder="Username"
        [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" required name="password" placeholder="Password"
        [(ngModel)]="model.password">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>

  </nav>
